default:
  image:
    name: 22e88/ubu2204-tf-ans:1.5
  tags:
    - d1-for-hcloud

stages:
  - create
  - update
  - delete
 

# project ID: 59703914
# branch: $CI_COMMIT_BRANCH 
#
create-workload-cluster:
  stage: create
  when: manual
  script:
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/main/download\?job\=create-mgmt-cluster
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - unzip artifacts.zip
    - ls -la 
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all
    - ansible-playbook -i ansible/inventory/hosts.yaml ansible/create-workload-cluster.yml


update-workload-cluster:
  stage: update
  when: manual
  script:
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all  

delete-workload-cluster:
  stage: delete
  when: manual
  # - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/main/download\?job\=create-mgmt-cluster
  script: 
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" "https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster"
    - ls -la artifacts.zip
    - file artifacts.zip
    - unzip artifacts.zip
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all  
    - ansible-playbook -i ansible/inventory/hosts.yaml ansible/delete-workload-cluster.yml





