default:
  image:
    name: 22e88/ubu2204-tf-ans:1.7
  tags:
    - d1-for-hcloud

stages:
  - create
  - update
  - delete
 

create-workload-cluster:
  stage: create
  when: manual
  script:
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - unzip artifacts.zip
    - ls -la 
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all
    - ansible-playbook -i ansible/inventory/hosts.yaml ansible/create-workload-cluster.yml

create-workload-cluster-v1.27.0:
  stage: create
  when: manual
  script:
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - unzip artifacts.zip
    - ls -la 
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all
    - |
        ansible-playbook -i ansible/inventory/hosts.yaml \
        -e HCLOUD_CONTROL_PLANE_MACHINE_TYPE=cpx31 \
        -e HCLOUD_REGION=fsn1 \
        -e HCLOUD_SSH_KEY=noroot@d1 \
        -e SSH_KEY_NAME=noroot@d1 \
        -e HCLOUD_WORKER_MACHINE_TYPE=cpx31 \
        -e KUBERNETES_VERSION=1.27.0 \
        -e CLUSTER_NAME=my1270cluster \
        -e CONTROL_PLANE_MACHINE_COUNT=1 \
        -e WORKER_MACHINE_COUNT=2 \
        ansible/create-workload-cluster.yml

deploy-ingress-nginx-to-workload-cluster:
  stage: create
  when: manual
  script:
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - unzip artifacts.zip
    - ls -la 
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all
    - ls -la ansible/
    - |
        ansible-playbook -i ansible/inventory/hosts.yaml \
        -e HCLOUD_REGION=fsn1 \
        -e CLUSTER_NAME=my1270cluster \
        ansible/deploy-ingress-nginx.yml

deploy-cert-manager-and-lets-encrypt-issuers:
  stage: create
  when: manual
  script:
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - unzip artifacts.zip
    - ls -la 
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all
    - ls -la ansible/
    - |
        ansible-playbook -i ansible/inventory/hosts.yaml \
        -e CLUSTER_NAME=my1270cluster \
        -e CERTM_VERSION=v1.15.3 \
        -e EMAIL_ADDR=5822@mailbox.org \
        ansible/deploy-cert-manager-and-lets-encrypt-issuers.yml

deploy-test-workloads:
  stage: create
  when: manual
  script:
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - unzip artifacts.zip
    - ls -la 
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all
    - ls -la ansible/
    - |
        ansible-playbook -i ansible/inventory/hosts.yaml \
        -e CLUSTER_NAME=my1270cluster \
        ansible/deploy-test-workloads.yml

update-workload-cluster:
  stage: update
  when: manual
  script:
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all  

delete-workload-cluster-v1.27.0:
  stage: delete
  when: manual
  script: 
    - export TOKEN=$CI_MGMT_PROJ_TOKEN
    - echo "branchname:" $CI_COMMIT_BRANCH
    - curl -L -o ./artifacts.zip -H "PRIVATE-TOKEN:$TOKEN" https://gitlab.com/api/v4/projects/59703914/jobs/artifacts/$CI_COMMIT_BRANCH/download\?job\=create-mgmt-cluster
    - ls -la artifacts.zip
    - unzip artifacts.zip
    - cp $CI_BETA_PRIV_KEY ~/.ssh/id_ed25519
    - chmod 0400 ~/.ssh/id_ed25519
    - export ANSIBLE_HOST_KEY_CHECKING=False
    - export ANSIBLE_REMOTE_USER=root
    - cat ansible/inventory/hosts.yaml 
    - ansible -m ping -i ansible/inventory/hosts.yaml all  
    - |
        ansible-playbook -i ansible/inventory/hosts.yaml \
          -e CLUSTER_NAME=my1270cluster \
          ansible/delete-workload-cluster.yml





